:root {
  --griffith-red: rgba(229, 34, 50, 1);
  --dark-red: rgba(212, 19, 35, 1);
  --black: rgba(30, 30, 30, 1);
  --white: rgba(255, 255, 255, 1);
  --grey: rgba(236, 236, 236, 1);

  /* tipografia */
  --font-family: "Inter", sans-serif;
  --font-weight-medium: 500;

  font-size: 16px;

  /* tamaños */
  --xl-font-size: 8rem; 
  --l-font-size: 4rem; 
  --m-font-size: 1.5rem; 
  --s-font-size: 1rem; 
  --xs-font-size: 0.8rem; 
}

/* Misma tipografia y peso para todo el texto y titulos */
* p {
  font-weight: var(--s-font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

* h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
}

h1 {
  font-size: var(--xl-font-size);
}

h2 {
  font-size: var(--l-font-size);
}

/* navbar */
header {
  display: fixed;
  width: 100%;
  z-index: 10;
  background-color: red;
}

nav ul {
  display:flex;
  justify-content: space-between;
  padding: 1.5rem;
}

main{
  background: var(--white);
}

nav li {
   height: 100%;
  width: 100%;
  
}
nav li p {
 text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
}
nav a {
  color: aliceblue;
  text-decoration: none;
  width: 100%;
}
nav a:hover {
  font-weight: bolder;
}

/* hero */
.hero {
  height: 50vh;
  background: var(--black);
  padding: 8rem;
  color: var(--white);
  display: flex;
  align-items: center;
}

/*  contenedor hero */
.hero-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* izq */
.hero-izq {
  display: flex;
}

/* titulo h1 hero */
.hero-titulo h1 {
  color: var(--white);
  background: var(--griffith-red);
  margin-bottom: 2rem; 
  padding: 1.5rem;
}

.hero-titulo h2 {
  color: var(--white);
 
}

/* der */
.hero-der {
  display: flex;
  align-items: center;
}

/* barra buscador */
.buscar {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem; 
  background: var(--grey);
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: var(--s-font-size);
  box-sizing: border-box;
}

.buscar input {
  width: 100%;
  background: transparent;
  border: none;
}

.buscar img {
  height:100%;
}

/* about */
.about {

  padding: 8rem;
  color: var(--black);
  display: flex;
  align-items: center;
}

/*  contenedor about */
.about-container {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* izq */
.about-izq {
  display: flex;
}

/* titulo h1 about */

.about-titulo h2 {
  color: var(--black);
 margin-bottom: 2rem;
}

/* der */
.about-der {
  display: flex;
  align-items: center;
}

.about-der img {
  height:100%;
  padding: 2rem;
}
