:root {
  --griffith-red: rgba(229, 34, 50, 1);
  --dark-red: rgba(212, 19, 35, 1);
  --black: rgba(30, 30, 30, 1);
  --white: rgba(255, 255, 255, 1);
  --grey: rgba(236, 236, 236, 1);

  /* tipografia */
  --font-family: "Inter", sans-serif;
  --font-weight-medium: 500;

  font-size: 16px;

  /* tamaños */
  --xl-font-size: 10.6rem; 
  --l-font-size: 4rem; 
  --s-font-size: 1.5rem; 
  --m-font-size: 1rem; 
  --xs-font-size: 0.8rem; 
}

.xl {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(---xl-font-size);
}

.l {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--l-font-size);
}

.m {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--m-font-size);
}

.s {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--s-font-size);
}

.xs {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--xs-font-size);
}

.header {
  display:flex;
  justify-content: space-between;
  padding: 1.5rem;
}


/* HERO */
.hero {
  height: 100vh;
  background: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
}

/* CONTENEDOR GENERAL */
.hero-container {
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* izq */
.hero-izq {
  max-width: 600px;
}

.breadcrumb {
  color: var(--grey);
  margin-bottom: 30px;
  font-size: 14px;
}

/* TITULO */
.titulo h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 1.1;
}

/* GUAM'S */
.highlight {
  display: inline-block;
  background: var(--griffith-red);
  padding: 10px 20px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* der */
.hero-der {
  display: flex;
  align-items: center;
}

/* SEARCH */
.buscar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buscar input {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: var(--grey);
  color: var(--black);
  width: 250px;
}

.icon {
  font-size: 20px;
  color: var(--grey);
}