/* hola */

home-screen {
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid;
  border-color: #e6e6e6;
  width: 100%;
  min-width: 1616px;
  min-height: 3584px;
  position: relative;
}

.home-screen .auto-flex {
  position: absolute;
  width: 1616px;
  top: -647px;
  left: -5917px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 1584px;
}

.home-screen .template {
  height: 66px;
  display: flex;
  align-items: flex-start;
  min-width: 1616px;
  background-image: url(./img/shape-with-text-3.svg);
  background-size: 100% 100%;
}

.home-screen .shape-with-text {
  width: 16px;
  height: 16px;
  margin-left: -5901px;
  margin-top: -622px;
}

.home-screen .img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-top: -622px;
}

.home-screen .shape-with-text-2 {
  width: 16px;
  height: 16px;
  margin-left: 11px;
  margin-top: -622px;
}

.home-screen .shape-with-text-3 {
  width: 1456px;
  height: 24px;
  margin-left: 37px;
  margin-top: -626px;
}

.home-screen .search-bar {
  width: 362px;
  height: 64px;
  margin-top: 264px;
  margin-right: 132px;
  background-image: url(./img/search.svg);
  background-size: 100% 100%;
}

.home-screen .bar {
  width: 20px;
  margin-top: 456px;
  margin-right: 28px;
}

.home-screen .rectangle {
  position: absolute;
  top: 66px;
  left: 0;
  width: 1616px;
  height: 669px;
  background-color: #1e1e1e;
  box-shadow: 0px 12px 27.3px #00000040;
}

.home-screen .text-wrapper {
  position: absolute;
  top: 489px;
  left: 128px;
  width: 1069px;
  height: 133px;
  display: flex;
  align-items: center;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 170px;
  letter-spacing: -3.91px;
  line-height: 255px;
  white-space: nowrap;
}

.home-screen .GUAM-web {
  top: 262px;
  width: 544px;
  height: 183px;
  background-color: #e52232;
  border-radius: 14px;
  position: absolute;
  left: 131px;
}

.home-screen .div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d41323;
}

.home-screen .text-wrapper-2 {
  position: absolute;
  top: 1px;
  left: 32px;
  width: 498px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 128px;
  letter-spacing: -2.94px;
  line-height: 192px;
  white-space: nowrap;
}

.home-screen .text-wrapper-3 {
  position: absolute;
  top: 1342px;
  left: 128px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 64px;
  letter-spacing: -1.41px;
  line-height: 96px;
  white-space: nowrap;
}

.home-screen .text-wrapper-4 {
  position: absolute;
  top: 1438px;
  left: 131px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: -0.46px;
  line-height: 36px;
  white-space: nowrap;
}

.home-screen .text-wrapper-5 {
  position: absolute;
  top: 2070px;
  left: 137px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: -0.46px;
  line-height: 36px;
  white-space: nowrap;
}

.home-screen .text-wrapper-6 {
  top: 2707px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 24px;
  letter-spacing: -0.46px;
  line-height: 36px;
  white-space: nowrap;
  position: absolute;
  left: 131px;
}

.home-screen .footpage {
  position: absolute;
  top: 3389px;
  left: 0;
  width: 1616px;
  height: 195px;
  background-color: #efefef;
}

.home-screen .group {
  position: absolute;
  width: 21.01%;
  height: 22.53%;
  top: 66.67%;
  left: 40.04%;
}

.home-screen .text-wrapper-7 {
  position: absolute;
  width: 55.09%;
  height: 54.62%;
  top: 23.17%;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .image {
  position: absolute;
  width: 41.67%;
  top: 1px;
  left: 58.33%;
  height: 43px;
  aspect-ratio: 1.5;
}

.home-screen .image-2 {
  position: absolute;
  width: 19.58%;
  top: 0;
  left: 80.42%;
  height: 43px;
  aspect-ratio: 1.48;
}

.home-screen .contact-us-emergency {
  position: absolute;
  width: 10.58%;
  height: 64.62%;
  top: 16.41%;
  left: 7.80%;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 12px;
  letter-spacing: -0.13px;
  line-height: 18px;
}

.home-screen .span {
  letter-spacing: -0.02px;
}

.home-screen .text-wrapper-8 {
  letter-spacing: -0.02px;
  text-decoration: underline;
}

.home-screen .griffith-logo {
  position: absolute;
  width: 25.12%;
  top: 24px;
  left: 74.88%;
  height: 134px;
  aspect-ratio: 2.62;
}

.home-screen .home-bar {
  position: absolute;
  top: 66px;
  left: 0;
  width: 1616px;
  height: 91px;
  background-color: #e52232;
  box-shadow: 0px 6px 9.8px #e5223294;
}

.home-screen .uil-user {
  position: absolute;
  width: 2.97%;
  top: 20px;
  left: 94.68%;
  height: 48px;
  display: flex;
  aspect-ratio: 1;
}

.home-screen .vector {
  flex: 1;
  width: 39.8px;
}

.home-screen .navbar {
  position: absolute;
  width: 68.13%;
  height: 40.66%;
  top: 30.77%;
  left: 20.24%;
}

.home-screen .text-wrapper-9 {
  position: absolute;
  width: 14.90%;
  height: 86.49%;
  top: 0;
  left: 85.40%;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.46px;
  line-height: 32px;
  white-space: nowrap;
}

.home-screen .text-wrapper-10 {
  width: 6.18%;
  left: 0;
  position: absolute;
  height: 86.49%;
  top: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.46px;
  line-height: 32px;
  white-space: nowrap;
}

.home-screen .text-wrapper-11 {
  width: 10.17%;
  left: 18.34%;
  position: absolute;
  height: 86.49%;
  top: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.46px;
  line-height: 32px;
  white-space: nowrap;
}

.home-screen .text-wrapper-12 {
  position: absolute;
  width: 13.53%;
  height: 86.49%;
  top: 0;
  left: 40.61%;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.46px;
  line-height: 32px;
  white-space: nowrap;
}

.home-screen .text-wrapper-13 {
  width: 6.72%;
  left: 66.52%;
  position: absolute;
  height: 86.49%;
  top: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.46px;
  line-height: 32px;
  white-space: nowrap;
}

.home-screen .griffith-logo-2 {
  position: absolute;
  top: 9px;
  left: 33px;
  width: 227px;
  height: 61px;
  aspect-ratio: 3.72;
  object-fit: cover;
}

.home-screen .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 259px;
  position: absolute;
  top: 15px;
  left: 448px;
}

.home-screen .line {
  position: relative;
  width: 5px;
  height: 62px;
}

.home-screen .line-2 {
  position: relative;
  width: 5px;
  height: 62px;
  margin-right: -5.00px;
}

.home-screen .line-md-search {
  position: absolute;
  width: 3.22%;
  top: 338px;
  left: 87.81%;
  height: 52px;
  border-radius: 132px;
  overflow: hidden;
  aspect-ratio: 1;
}

.home-screen .vector-stroke {
  position: absolute;
  width: 66.65%;
  height: 91.69%;
  top: 8.31%;
  left: 33.35%;
}

.home-screen .vector-stroke-2 {
  position: absolute;
  width: 91.67%;
  height: 47.92%;
  top: 52.08%;
  left: 8.33%;
}

.home-screen .art-collection-web {
  position: absolute;
  top: 195px;
  left: 45px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .scroll-right {
  position: absolute;
  top: 1444px;
  left: 393px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #757575;
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .scroll-right-2 {
  top: 2079px;
  left: 393px;
  position: absolute;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #757575;
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .scroll-right-3 {
  top: 2713px;
  left: 357px;
  position: absolute;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #757575;
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .group-2 {
  position: absolute;
  top: 850px;
  left: 131px;
  width: 1352px;
  height: 472px;
}

.home-screen .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 186px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 64px;
  letter-spacing: -1.41px;
  line-height: 96px;
}

.home-screen .url-qrcodecreator {
  position: absolute;
  top: 69px;
  left: 1007px;
  width: 311px;
  height: 309px;
  aspect-ratio: 1.01;
}

.home-screen .the-art-collection {
  position: absolute;
  top: 109px;
  left: 0;
  width: 821px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 24px;
}

.home-screen .rectangle-2 {
  position: absolute;
  top: 44px;
  left: 980px;
  width: 366px;
  height: 350px;
  border: 9px dashed;
  border-color: #e52232;
}

.home-screen .text {
  position: absolute;
  top: 416px;
  left: 980px;
  width: 366px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #d41323;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.53px;
  line-height: 27.1px;
}

.home-screen .frame-2 {
  display: flex;
  flex-direction: column;
  width: 1441px;
  align-items: flex-start;
  gap: 118px;
  position: absolute;
  top: 1504px;
  left: calc(50.00% - 720px);
}

.home-screen .current-exhibitions {
  display: flex;
  align-items: center;
  gap: 47px;
  padding: 0px 39px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  overflow: hidden;
  overflow-x: scroll;
}

.home-screen .current-exhibitions::-webkit-scrollbar {
  width: 0;
  display: none;
}

.home-screen .double-vision {
  position: relative;
  width: 420px;
  height: 506px;
}

.home-screen .group-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 418px;
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .image-3 {
  width: 418px;
  height: 415px;
  aspect-ratio: 1.01;
}

.home-screen .craig-karl-double {
  margin-left: 1px;
  width: 417px;
  height: 64px;
}

.home-screen .p {
  position: absolute;
  top: 483px;
  left: 3px;
  width: 201px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.30px;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .save-button {
  position: absolute;
  top: 11px;
  left: 381px;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .rear-vision {
  position: relative;
  width: 419px;
  height: 505px;
}

.home-screen .text-wrapper-15 {
  top: 482px;
  width: 201px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.30px;
  line-height: 24px;
}

.home-screen .group-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 417px;
  height: 478px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .image-4 {
  width: 417px;
  height: 414px;
  aspect-ratio: 1.01;
}

.home-screen .img-2 {
  width: 417px;
  height: 64px;
}

.home-screen .save-button-2 {
  top: 10px;
  left: 380px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .AN-zs {
  position: relative;
  width: 429px;
  height: 505px;
}

.home-screen .group-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 427px;
  height: 479px;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .image-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 426px;
  height: 416px;
  aspect-ratio: 1.02;
}

.home-screen .anzs-walk-this-way {
  position: absolute;
  width: 426px;
  height: 64px;
  top: 415px;
  left: 1px;
}

.home-screen .save-button-3 {
  top: 10px;
  left: 390px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .public-art-trail {
  position: relative;
  width: 426px;
  height: 507px;
}

.home-screen .group-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 424px;
  height: 481px;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .craig-karl-public {
  position: absolute;
  width: 424px;
  height: 64px;
  top: 417px;
  left: 0;
}

.home-screen .image-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 424px;
  height: 418px;
  aspect-ratio: 1.01;
  object-fit: cover;
}

.home-screen .text-wrapper-16 {
  position: absolute;
  top: 484px;
  left: 0;
  width: 201px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.30px;
  line-height: 24px;
  white-space: nowrap;
}

.home-screen .save-button-4 {
  top: 11px;
  left: 387px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .recent-acquisitions {
  display: flex;
  align-items: flex-end;
  gap: 47px;
  padding: 0px 42px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  overflow: hidden;
  overflow-x: scroll;
}

.home-screen .recent-acquisitions::-webkit-scrollbar {
  width: 0;
  display: none;
}

.home-screen .div-2 {
  position: relative;
  width: 419px;
  height: 516px;
}

.home-screen .text-wrapper-17 {
  top: 492px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.30px;
  line-height: 24px;
}

.home-screen .group-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 417px;
  height: 484px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .image-7 {
  width: 417px;
  height: 420px;
  aspect-ratio: 0.99;
}

.home-screen .save-button-5 {
  top: 17px;
  left: 378px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .text-wrapper-18 {
  top: 492px;
  width: 208px;
  position: absolute;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.30px;
  line-height: 24px;
}

.home-screen .group-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 417px;
  height: 484px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .image-8 {
  margin-left: 1.0px;
  width: 415px;
  height: 415px;
  aspect-ratio: 1;
}

.home-screen .save-button-6 {
  top: 17px;
  left: 380px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .staging-sites {
  position: relative;
  width: 429px;
  height: 514px;
}

.home-screen .group-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 427px;
  height: 485px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .image-9 {
  width: 427px;
  height: 419.93px;
  aspect-ratio: 1.02;
}

.home-screen .staging-sites-tracey {
  width: 427px;
  height: 64.61px;
  margin-top: 0;
}

.home-screen .text-wrapper-19 {
  top: 490px;
  width: 180px;
  position: absolute;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.30px;
  line-height: 24px;
}

.home-screen .save-button-7 {
  top: 15px;
  left: 390px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .VNS {
  position: relative;
  width: 425px;
  height: 514px;
}

.home-screen .group-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 423px;
  height: 478px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .image-10 {
  width: 423px;
  height: 414px;
  aspect-ratio: 1.02;
}

.home-screen .VNS-MATRIX-beg-and {
  width: 423px;
  height: 64px;
}

.home-screen .text-wrapper-20 {
  top: 490px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.30px;
  line-height: 24px;
}

.home-screen .save-button-8 {
  top: 13px;
  left: 386px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .GUAM-collections {
  display: flex;
  align-items: flex-end;
  gap: 47px;
  padding: 0px 43px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  overflow: hidden;
  overflow-x: scroll;
}

.home-screen .GUAM-collections::-webkit-scrollbar {
  width: 0;
  display: none;
}

.home-screen .QCAD {
  position: relative;
  width: 417px;
  height: 481px;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .image-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 417px;
  height: 417px;
  aspect-ratio: 1;
}

.home-screen .QCAD-2 {
  position: absolute;
  width: 417px;
  height: 64px;
  top: 417px;
  left: 0;
}

.home-screen .save-button-9 {
  top: 8px;
  left: 370px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .indigenous-art {
  position: relative;
  width: 420px;
  height: 484px;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .group-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 484px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.home-screen .image-12 {
  width: 420px;
  height: 419px;
  aspect-ratio: 1;
}

.home-screen .img-3 {
  width: 420px;
  height: 64px;
}

.home-screen .save-button-10 {
  top: 11px;
  left: 373px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .political-posters {
  position: relative;
  width: 420px;
  height: 481px;
}

.home-screen .political-posters-2 {
  position: absolute;
  width: 420px;
  height: 64px;
  top: 417px;
  left: 0;
}

.home-screen .image-13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 417px;
  aspect-ratio: 1.01;
  object-fit: cover;
}

.home-screen .save-button-11 {
  top: 8px;
  left: 383px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.home-screen .photography {
  position: relative;
  width: 420px;
  height: 481px;
  box-shadow: 0px 4px 4px #00000040;
}

.home-screen .group-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 481px;
  display: flex;
  flex-direction: column;
}

.home-screen .image-14 {
  width: 420px;
  height: 417px;
  aspect-ratio: 1.01;
}

.home-screen .save-button-12 {
  top: 13px;
  left: 383px;
  position: absolute;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}