:root {
  --negrogris-oscuro: rgba(36, 36, 36, 1);
  --negrogris: rgba(63, 63, 63, 1);
  --negrogris-claro: rgba(121, 121, 121, 1);
  --blancoblanco-oscuro: rgba(217, 217, 217, 1);
  --blancoblanco: rgba(239, 239, 239, 1);
  --blancoblanco-claro: rgba(242, 242, 242, 1);
  --naranjanaranja-principal: rgba(255, 176, 0, 1);
  --naranjanaranja-claro: rgba(255, 184, 26, 1);
  --naranjanaranja-blanco: rgba(255, 223, 153, 1);
  --amarilloamarillo-blanco: rgba(255, 231, 131, 1);
  --amarilloamarillo-claro: rgba(255, 207, 6, 1);
  --amarilloamarillo-principal: rgba(255, 195, 0, 1);
  --heading-font-family: "Lato", Helvetica;
  --heading-font-weight: 700;
  --heading-font-size: 24px;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;
  --heading-font-style: normal;
  --chip-text-font-family: "Lato", Helvetica;
  --chip-text-font-weight: 400;
  --chip-text-font-size: 12px;
  --chip-text-letter-spacing: 0px;
  --chip-text-line-height: normal;
  --chip-text-font-style: normal;
  --button-s-font-family: "Lato", Helvetica;
  --button-s-font-weight: 400;
  --button-s-font-size: 16px;
  --button-s-letter-spacing: 0px;
  --button-s-line-height: normal;
  --button-s-font-style: normal;
  --button-xl-font-family: "Lato", Helvetica;
  --button-xl-font-weight: 400;
  --button-xl-font-size: 20px;
  --button-xl-letter-spacing: 0px;
  --button-xl-line-height: normal;
  --button-xl-font-style: normal;
  --subtitles-font-family: "Lato", Helvetica;
  --subtitles-font-weight: 400;
  --subtitles-font-size: 16px;
  --subtitles-letter-spacing: 0px;
  --subtitles-line-height: normal;
  --subtitles-font-style: normal;
  --subtitle-bold-font-family: "Lato", Helvetica;
  --subtitle-bold-font-weight: 800;
  --subtitle-bold-font-size: 16px;
  --subtitle-bold-letter-spacing: 0px;
  --subtitle-bold-line-height: normal;
  --subtitle-bold-font-style: normal;
  --info-bold-font-family: "Lato", Helvetica;
  --info-bold-font-weight: 800;
  --info-bold-font-size: 20px;
  --info-bold-letter-spacing: 0px;
  --info-bold-line-height: normal;
  --info-bold-font-style: normal;
  --light-chip-text-font-family: "Lato", Helvetica;
  --light-chip-text-font-weight: 700;
  --light-chip-text-font-size: 12px;
  --light-chip-text-letter-spacing: 0px;
  --light-chip-text-line-height: normal;
  --light-chip-text-font-style: normal;
  --light-xs-font-family: "Lato", Helvetica;
  --light-xs-font-weight: 300;
  --light-xs-font-size: 10px;
  --light-xs-letter-spacing: 0px;
  --light-xs-line-height: normal;
  --light-xs-font-style: normal;
  --xxl-text-font-family: "Lato", Helvetica;
  --xxl-text-font-weight: 500;
  --xxl-text-font-size: 40px;
  --xxl-text-letter-spacing: 0px;
  --xxl-text-line-height: normal;
  --xxl-text-font-style: normal;
}