<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/artworkArray.js" defer></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- conectar nav bar -->
    <div id="navbar"></div>
 <!-- llamar nav bar -->
    <script>
        fetch('/templates/navbar.html')
        .then(res => res.text())
        .then(html => {
            document.getElementById('navbar').innerHTML = html;
        });
    </script>
<!-- cuadricula -->
    <main>
    <div id="grid"></div>
    </main>
<!-- footer -->
  <div id="footer"></div>
<!-- llamar footer -->
  <script>
    fetch('/templates/footer.html')
      .then(res => res.text())
      .then(html => {
        document.getElementById('footer').innerHTML = html;
      });
  </script>
</body>

</html>