<footer>
    <div class="footer-container">
      <div class="footer-izq">
        <p>Contact us</p>
        <ul>
          <li><a href="https://www.griffith.edu.au/emergency-information" target="_blank"> Emergency Information</a></li>
          <li><a href="https://www.griffith.edu.au/marketing-communications/media-and-communications" target="_blank">Media</a>  </li>
          <li><a href="https://www.griffith.edu.au/campus-support" target="_blank"> Security</a> </li>
          <li><a href="https://www.griffith.edu.au/about-griffith/campuses-facilities" target="_blank"> Adresses</a> </li>
          <li><a href="https://www.griffith.edu.au/search" target="_blank"> Phone</a> </li>
          <li><a href="https://www.griffith.edu.au/about-griffith/corporate-governance/complaints-and-grievances" target="_blank"> Complaints and Grievances</a> </li>
        </ul>
      </div>
      <div class="footer-mid">
        <p>First Peoples of Australia</p>
        <img src="/img/fotos/australianflag.jpeg" alt="Australian Aboriginal flag" >
        <img src="/img/fotos/torresstrait.jpeg" alt="Torres Strait Islander flag" >
      </div>
      <div class="footer-dcha">
        <img src="/img/fotos/logogriffithcolor.png" alt="Logo Griffith University">
      </div>
    </div>
  </footer>