<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="frame">
      <img class="image" src="img/image-33.png" />
      <div class="div">
        <div class="untitled-ABCD">Untitled [ABCD]</div>
        <div class="gordon-bennett">Gordon Bennett</div>
        <div class="text-wrapper">Australian Art Contemporary</div>
        <div class="text-wrapper">(Date) Unknown</div>
        <div class="text-wrapper">Location</div>
        <div class="descripcion">
          Descripcion<br />Descripcion<br />Descripcion<br />Descripcion<br />Descripcion<br />Descripcion<br />Descripcion<br />Descripcion<br />Descripcion
        </div>
        <div class="div-2">
          <div class="text-wrapper-2">Key Words</div>
          <div class="auto-flex-wrapper">
            <div class="auto-flex">
              <img class="img" src="img/art.svg" />
              <img class="img" src="img/GUAM.svg" />
              <img class="img" src="img/gordon-bennett.svg" />
              <img class="img-2" src="img/litography.svg" />
              <img class="img-2" src="img/australian-art.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>