<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Obras</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/obras.js"></script>
  </head>
  <body>
    <div class="obra">
      <img src="" alt="obra imagen" id="img">
    <div>
      <h2 id="titulo">Title</h2>
      <h3 id="autor">Autor</h3>
      <ul>
        <li id="categoria">categoria</li>
        <li id="fecha">fecha</li>
        <li id="localizacion">localizacion</li>
        <li id="desc">descrpicion</li>
      </ul>
      <div id="tags">tags</div>
    </div>
    </div>
  </body>
</html>