<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Obras</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/urlparams.js"></script>
  <script defer src="/js/obras.js"></script>
</head>

<body>
<!-- conectar nav bar -->
    <div id="navbar"></div>
<!-- llamar nav bar -->
    <script>
        fetch('/templates/navbar.html')
        .then(res => res.text())
        .then(html => {
            document.getElementById('navbar').innerHTML = html;
        });
    </script>
<!-- obra -->
  <main>
    <div class="obra-container">
      <div class="obra">
        <div class="obra img">
          <img src="" alt="obra imagen" id="img">
        </div>
        <div class="info-obra">
          <h2 id="titulo">Title</h2>
          <h3 id="autor">Autor</h3>
          <ul class="detalles">
            <li id="categoria">categoria</li>
            <li id="fecha">fecha</li>
            <li id="localizacion">localizacion</li>
            <li id="desc">descrpicion</li>
          </ul>
          <div id="tags">tags</div>
        </div>
      </div>
    </div>
  </main>
<!-- footer -->
  <div id="footer"></div>
<!-- llamar footer -->
  <script>
    fetch('/templates/footer.html')
      .then(res => res.text())
      .then(html => {
        document.getElementById('footer').innerHTML = html;
      });
  </script>
  </body>
</html>